<footer class="footer spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="footer__about">
    <div class="footer__about__logo">
    <a href="index-2.html"><img src="https://images.ctfassets.net/wn7ipiv9ue5v/7KiWwShT7SENAxfHhRQRcW/6e291380c22de8f2fbd19a2d86cb91b8/RDR2_CompareEditions_Standard_1632x831.jpg" alt=""></a>
    </div>
    <ul>
    <li>Address: Read Dead Redemption2 </li>
    <li>Telefon: +216 22 545 488</li>
    <li>E-mail: krytos@gmail.com</li>
    </ul>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
    <div class="footer__widget">
    <h6>Useful Links</h6>
    <ul>
    <li><a href="#">about us</a></li>
    <li><a href="#">About Our Products</a></li>
    <li><a href="#">Our Payment Systems</a></li>
    <li><a href="#">About Systems</a></li>
    <li><a href="#">confidentiality agreement</a></li>
    <li><a href="#">Sitemap</a></li>
    </ul>
    <ul>
    <li><a href="#">who are we</a></li>
    <li><a href="#">Servislerimiz</a></li>
    <li><a href="#">Our projects</a></li>
    <li><a href="#">Communication</a></li>
    <li><a href="#">Our Innovative Missions</a></li>
    <li><a href="#">MR khaled is here</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-4 col-md-12">
    <div class="footer__widget">
    <h6>Subscribe!</h6>
    <p>Subscribe to be notified of the latest discounts.</p>
    <form action="#">
    <input type="text" placeholder="E-Mail Address...">
    <button type="submit" class="site-btn">Subscribe</button>
    </form>
    <div class="footer__widget__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>